// Modal Styles

.head-title-main{
   font-size: $base-font--x-medium;
   color: $color-primary;
   text-transform: uppercase;
   margin-bottom: $gap-m-medium;    
}

.head-title{
   font-size: $base-font--small;
   color: $color-secondary;
   font-weight: $base-font-weight--strong;
}

.head-title-sub{
   font-size: $base-font--x-small;
   color: $color-secondary;
   margin-left: $gap-p-small;  
}

mat-dialog-container{
   max-width: 800px;    
}